%logo-text {
    font-weight: 700;
font-size: 44.5161px;
line-height: 1.04;
color: #FFFFFF;
}

%big-title {
    font-weight: 700;
font-size: 85px;
line-height: 1.03;
color: #FFFFFF;
}

%description-text {
    font-weight: 400;
font-size: 18px;
line-height: 1.66;
color: #FFFFFF;
}

%text-title {
    font-weight: 700;
font-size: 70px;
line-height: 1.05;
color: #171717;

}

%card-title {
    font-weight: 700;
font-size: 32px;
line-height: 1.03;
color: #171717;

}

%cash-text {
    font-weight: 700;
font-size: 28px;
line-height: 1.03;
color: #3D5DDB;
}